<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> SuperHearts | {{title}} </title>
</head>
<link rel="stylesheet" href="./style.css">
<body>
  <h1>{{page.heading}}</h1>
  <p>also, try opening the console to experiment with the current animation</p>
  <code class="example">
    var dawh = SuperHearts.Button("#click-me", { color: "orange",
      count: [2,5],
      scale: [.01, .09],
      translateY: [50, 100] });
    </code>
  {{>body}}
  {{>script-tag}}
  <script>
    var dawh = SuperHearts.Button("#click-me", { color: "cyan", count: [2,5], scale: [.01, .09], translateY: [50, 100]});
    console.log("Hello today!\nThe current animation object is stored as the variable `dawh`.\nEnjoy!")
  </script>
</body>
</html>