<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> SuperHearts | {{title}} </title>
</head>
<link rel="stylesheet" href="./style.css">
<body>
  <h1>{{page.heading}}</h1>
  <p>try clicking me. i dare ya.</p>
  <code class="example">
    // check the page source
  </code>
  {{>body}}
  {{>script-tag}}
  <script>
    var a1 = {count: 1, scalar: .4, translateY: 100, angle: 0, },
        a2 = {count: 1, scalar: .4, translateY: 100, angle: 90, color: "black"},
        a3 = {count: 1, scalar: .4, translateY: 100, angle: 180, color: "blue"},
        a4 = {count: 1, scalar: .4, translateY: 100, angle: 270, color: "purple"};
    var dawh = SuperHearts(a1, a2, a3, a4);
    console.log("Hello today!\n\nThe current animation object is stored as the variable `dawh`.\n\nEnjoy!")
  </script>
</body>
</html>