$white: #f4faff;

$black: rgb(32, 23, 44);
$black-light: lighten($black, 20%);

$serif: "Bree Serif", serif;
$sans-serif: sans-serif;

$bg-color: #e08dac;
$bg-1: #843B62;

$txt-header: $white;


html, body {
  background: $bg-color;
  color: $white;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}


header {
  padding-top: 120px;
}

h1 {
  color: $white;
  font-family: $serif;
  font-size: 72px;
  text-align: center;
  opacity: 1;
  text-shadow: 0 -1px 0 #888,
               0 -1px 0 $white;

  small {
    display: block;
    font-size: 36px;

    opacity: .6;
    padding: 16px 0 8px 0;
    text-shadow: 0 -1px 0 #888,
                 0  1px 0 $white;

  }
}


.icon-group {
  margin: 0;
  padding: 25px;
}
.icon {
  height: 50px;
  margin: 20px 15px 0 15px;
}

.icon.icon-boots {
    height: 35px;
    opacity: .39;
    transform: scale(-1,1);
}

a {
  .icon {
      opacity: .48;
  }
  &:hover {
    .icon {
      opacity: .84;      
    }
  }
}

.fixed {
  position: fixed;
}

.bottom-right {
  bottom: 0;
  right: 0
}


@media only screen and (max-width: 640px) {

  h1 {
    font-size: 56px;
    small {
      font-size: 34px;
    }
  }

}

@media only screen 
  and (max-width: 480px) {

    header {
      padding-top: 65px;
    }

  h1 {
    letter-spacing: -.02em;
    font-size: 42px;
    small {
      font-size: 26px;
    }
  }

  .icon {
    height: 30px;
    margin: 10px 5px 0 10px;
  }
  .icon.icon-boots {
      height: 20px;
      opacity: .25;
      transform: scale(-1,1);
  }
}
