$white: #f4faff;

$black: #222;
$black-light: #666;

$cursive: cursive;
$sans-serif: sans-serif;

$icon-height: 20px;
$nav-height: 60px;

$square-dim: 80px;

$bg-1: #843B62;

$bg-map:  (bg-1: $bg-1,
            txt-1: $white, // possible alternative black
            bg-2: #F6E4F6,
            txt-2: rgb(32, 23, 44), // possible alternative black
            bg-3: #AF90A9,
            txt-3: rgb(32, 23, 44), // possible alternative black
            bg-4: #EB4B98,
            txt-4: rgb(32, 23, 44), // possible alternative black
            bg-5: #EFC3E6,
            txt-5: rgb(32, 23, 44),); // possible alternative black


@mixin examplar($bg, $txt) {
  background: $bg;
  color: $txt;
  h1, h2 {
    color: $txt;

    small {
      color: $txt;
    }
  }
  &:after {
    background: $bg;
  } 
}

html, body {
  background: #e08dac;
  color: $black;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: anti-aliased;
}

body {
  padding-top: $nav-height;
}

nav {
  // border-bottom: solid thin $black-light;
  font-family: $sans-serif;
  font-size: 18px;
  height: $nav-height;
  left: 0;
  line-height: $nav-height;
  position: fixed;
  top: 0;
  width: 100%;

  .heart-me {
    padding: 0;
    position: fixed;
    text-align: 0;
    top: 0;
    width: 100%;
    z-index: -10;
  }

  .back-to-top {
    font-size: 14px;
    cursor: pointer;
  }

  .github-icon {
    height: $icon-height;
    float: right;
    padding-top: ($nav-height - $icon-height)/2;
  }
}

header {
  background: #e08dac;
  padding-top: 80px;
  &:after {
    background: #e08dac;
  } 
}

header, 
section {
  border-bottom: solid 4px $black-light;
  padding: 0 60px;
  margin: 0;
  margin-bottom: -$square-dim*1.42;
  min-height: 568px;
  &:after {
    content: " ";
    display: block;
    height: $square-dim;
    margin: $square-dim*1.42 auto 0 auto;
    width: $square-dim;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  } 
}

h1,
h2 {
  color: $black;
  text-align: center;

  small {
    color: $black-light;
    display: block;
    padding: 16px 0 8px 0;
  }
}

h1 {
  font-family: $sans-serif;
  font-size: 72px;
  small {
    font-size: 36px;
  }
}

h2 {
  font-family: $sans-serif;
  font-size: 48px;
  padding-top: $square-dim*1.42;
  small {
    font-size: 24px;
    padding: 12px;
  }
}

pre {
  border: solid thin $black-light;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 380px;
  padding: 20px 20px 30px 20px;
  visibility: hidden;
  text-align: center;
}


@for $i from 1 through 5 {
  #example-#{$i} {
    @include examplar(map-get($bg-map, bg-#{$i}), map-get($bg-map, txt-#{$i}));
  }
}

#example-3 button {
  background: #fff;
  border: 0;
  border-bottom: solid 6px $bg-1;
  border-radius: 12px;
  color: $black-light;
  box-shadow: 1px 1px 1px $bg-1;
  display: block;
  font-size: 18px;
  height: 65px;
  margin: 0 auto;
  width: 225px;

  &:focus {
    outline: none;
      box-shadow: 3px 3px 12px $bg-1;

  }
}

.u-text-center {
  text-align: center;
}
.u-no-padding {
  padding: 0;
}
.u-no-margin {
  margin: 0;
}